[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
sphinx = "*"
pytest = "*"

[packages]
redis = "*"
pydantic = "*"
limeutils = {path = "."}
markdown-include = "*"
hiredis = "*"
pygments = "*"

[requires]
python_version = "3.8"
